# <h9><center> INTRODUCTION TO THE PROBLEM <h9>

In Module 1, we are going to get familiar with pandas, the python module which is used to process and analyse data. Processing could include removing unknown values from the data or replacing unknown values with values which make sense, maybe 0. Analysing the data could include finding out the trend of a stock price. <br> e.g. how the stock price changes with respect to the Nifty 50 basket of stocks.

## PROBLEM STATEMENT-1.1

Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. <br>  Analyze and understand each column properly. <br> You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [304]:
import numpy as np 
import pandas as pd

#### Importing CSV file using pd.read_csv()

In [305]:
raymond = pd.read_csv('./RAYMOND.csv')
raymond.head(5)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RAYMOND,EQ,15-May-2017,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96
1,RAYMOND,EQ,16-May-2017,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77
2,RAYMOND,EQ,17-May-2017,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34
3,RAYMOND,EQ,18-May-2017,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83
4,RAYMOND,EQ,19-May-2017,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52

#### Check whether csv file has data on more than one category. <br> 
- checking for the ‘Date’ column will have repeating values.

In [306]:
col=raymond.loc[raymond['Series'] != 'EQ']
col

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

In [307]:
datedup = raymond['Date'].duplicated()

In [308]:
datedup.shape

(494,)

**we dont have the duplicate dates and we don't have NOT'EQ' values in the 'Series' Column**

#### 1.1.4 Analyze and understand `raymond` DataFrame properly.

 - **`tail(n)` - Gives last n rows which equivalent to last n days**.<br>
 - **`describe(n)`- Generates descriptive statistics of raymond data**.<br>
 - **`head(n)`- Gives first n rows which equivalent to first n days**

In [309]:
raymond.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RAYMOND,EQ,15-May-2017,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96
1,RAYMOND,EQ,16-May-2017,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77
2,RAYMOND,EQ,17-May-2017,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34
3,RAYMOND,EQ,18-May-2017,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83
4,RAYMOND,EQ,19-May-2017,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52

In [310]:
raymond.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,RAYMOND,EQ,07-May-2019,806.05,806.05,821.6,799.25,811.15,808.95,814.61,2038484,1.660574e+09,33444,321610,15.78
490,RAYMOND,EQ,08-May-2019,808.95,807.90,816.9,797.05,806.40,807.10,807.55,930010,7.510262e+08,19028,51327,5.52
491,RAYMOND,EQ,09-May-2019,807.10,801.00,811.1,798.00,805.25,805.30,804.23,425205,3.419611e+08,8608,34675,8.15
492,RAYMOND,EQ,10-May-2019,805.30,809.95,815.0,795.05,804.00,804.40,804.95,464539,3.739298e+08,9381,22009,4.74
493,RAYMOND,EQ,13-May-2019,804.40,803.00,803.0,774.75,782.00,779.35,789.32,342185,2.700928e+08,9023,29418,8.60

In [311]:
raymond.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,494.000000,494.000000
mean,857.014879,858.730972,872.788765,843.176417,857.161842,857.047065,858.740729,6.996091e+05,5.940349e+08,16504.493927,125046.406883,18.723462
std,119.790034,120.556591,120.621563,119.405568,119.938925,119.766977,119.749048,5.598060e+05,4.619086e+08,11567.284242,95448.244753,7.572019
min,600.450000,606.000000,633.000000,593.000000,598.000000,600.450000,610.960000,6.071500e+04,4.590994e+07,1589.000000,15533.000000,4.740000
25%,774.412500,776.112500,789.250000,761.000000,775.662500,774.575000,776.320000,4.132282e+05,3.456062e+08,10303.500000,63414.000000,12.935000
50%,817.300000,822.000000,832.800000,808.700000,818.425000,817.300000,820.875000,5.443265e+05,4.706057e+08,13513.000000,96873.500000,17.340000
75%,946.125000,947.412500,964.937500,932.050000,949.250000,946.125000,949.725000,7.576688e+05,6.731828e+08,18785.250000,152829.500000,22.670000
max,1132.400000,1142.000000,1153.000000,1121.000000,1131.550000,1132.400000,1134.420000,4.933002e+06,4.876011e+09,104582.000000,768430.000000,45.880000

In [312]:
raymond.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Prev Close,494.0,8.570149e+02,1.197900e+02,600.45,7.744125e+02,8.173000e+02,9.461250e+02,1.132400e+03
Open Price,494.0,8.587310e+02,1.205566e+02,606.00,7.761125e+02,8.220000e+02,9.474125e+02,1.142000e+03
High Price,494.0,8.727888e+02,1.206216e+02,633.00,7.892500e+02,8.328000e+02,9.649375e+02,1.153000e+03
Low Price,494.0,8.431764e+02,1.194056e+02,593.00,7.610000e+02,8.087000e+02,9.320500e+02,1.121000e+03
Last Price,494.0,8.571618e+02,1.199389e+02,598.00,7.756625e+02,8.184250e+02,9.492500e+02,1.131550e+03
Close Price,494.0,8.570471e+02,1.197670e+02,600.45,7.745750e+02,8.173000e+02,9.461250e+02,1.132400e+03
Average Price,494.0,8.587407e+02,1.197490e+02,610.96,7.763200e+02,8.208750e+02,9.497250e+02,1.134420e+03
Total Traded Quantity,494.0,6.996091e+05,5.598060e+05,60715.00,4.132282e+05,5.443265e+05,7.576688e+05,4.933002e+06
Turnover,494.0,5.940349e+08,4.619086e+08,45909935.50,3.456062e+08,4.706057e+08,6.731828e+08,4.876011e+09
No. of Trades,494.0,1.650449e+04,1.156728e+04,1589.00,1.030350e+04,1.351300e+04,1.878525e+04,1.045820e+05
Deliverable Qty,494.0,1.250464e+05,9.544824e+04,15533.00,6.341400e+04,9.687350e+04,1.528295e+05,7.684300e+05
% Dly Qt to Traded Qty,494.0,1.872346e+01,7.572019e+00,4.74,1.293500e+01,1.734000e+01,2.267000e+01,4.588000e+01

## PROBLEM STATEMENT-1.2

Calculate the maximum, minimum and mean price for the last 90 days. <br> (price=Closing Price unless stated otherwise)

 - **`tail(n)` - Gives last n rows which equivalent to last n days**.<br>
 - **`describe(n)`- Generates descriptive statistics of raymond data**.<br>
 - **`head(n)`- Gives first n rows which equivalent to first n days**

In [313]:
max = raymond['Close Price'].tail(90).max(axis = 0)
min = raymond['Close Price'].tail(90).min(axis = 0)
mean = raymond['Close Price'].tail(90).mean(axis = 0)

In [314]:
print(max,min,mean)

844.75 653.7 779.3216666666666

In [315]:
print("max:",max)

max: 844.75

In [316]:
print("min:",min)
print("mean:",mean)

min: 653.7
mean: 779.3216666666666

## PROBLEM STATEMENT-1.3

Analysing the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

#### Analysing the data types for each column of the "raymond"

In [317]:
raymond.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

#### Changing the `date` column from 'object' type to 'datetime64(ns)'

In [318]:
raymond['Date'] = raymond['Date'].astype('datetime64')

##### Checking Changed Datatypes

In [319]:
raymond.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

#### subtracting the minimum value of the `date` column from the maximum value.

In [320]:
maxdate=raymond['Date'].max()

In [321]:
mindate=raymond['Date'].min()

In [322]:
maxdate-mindate

Timedelta('728 days 00:00:00')

#### Here we can see that it showing the days between max and min of `date` column

In [323]:
print("No:of Days:-",maxdate-mindate)

No:of Days:- 728 days 00:00:00

In [324]:
import warnings

In [325]:
warnings.filterwarnings('ignore')

## PROBLEM STATEMENT-1.4


In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.<br>
*`( VWAP = sum(price * volume)/sum(volume) )`*<br>
To know more about VWAP , visit - [VWAP definition](https://www.investopedia.com/terms/v/vwap.asp)<br>
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [326]:
raymond['Year'] = pd.DatetimeIndex(raymond.Date).year

In [327]:
raymond['Month'] = pd.DatetimeIndex(raymond.Date).month

#### Here
- ####  "`Total Traded Quantity`" => Volume
- #### "`Close Price`" => Price

In [328]:
raymond.head(1)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,RAYMOND,EQ,2017-05-15,763.45,765.0,779.0,757.05,773.9,772.8,770.09,292498,2.252491e+08,9033,55467,18.96,2017,5

<h4 align=center>Let implement VWAP formula</h4>

$$VWAP= \frac{\sum_{}price*volume}{\sum_{}volume}$$

In [329]:
raymond['VWAP'] = (raymond['Close Price'] * raymond['Total Traded Quantity']).cumsum() / raymond['Total Traded Quantity'].fillna(0).cumsum()
vwap = raymond[['Year','Month','VWAP']]
group = vwap.groupby(['Year','Month'])

In [330]:
group.first()

                  VWAP
Year Month
2017 5      772.800000
     6      711.343029
     7      723.670339
     8      755.678298
     9      757.419173
     10     786.321648
     11     803.725228
     12     827.836545
2018 1      845.789518
     2      867.821008
     3      873.796597
     4      876.390565
     5      897.595992
     6      906.560240
     7      909.586288
     8      905.042164
     9      896.765783
     10     890.751551
     11     874.466223
     12     869.737108
2019 1      868.119442
     2      864.691768
     3      854.005697
     4      851.928282
     5      849.273254

## PROBLEM STATEMENT-1.5

Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.<br>
Calculate the average price AND the profit/loss percentages over the course of last -<br>
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.<br>
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

####  Writing a function to calculate the average price over the last N days of the raymond stock price data

In [331]:
def last_N_days_avg_price(dataframe, N):
    return dataframe.tail(N)["Average Price"].mean()

In [332]:
last_N_days_avg_price(raymond, 45)

797.6191111111115

In [333]:
""" 
>>>N=int(input("enter N last days"))
    last_N_days_avg_price(raymond, N)
Out[]: enter N last days90
       780.7442222222222
"""

' \n>>>N=int(input("enter N last days"))\n    last_N_days_avg_price(raymond, N)\nOut[]: enter N last days90\n       780.7442222222222\n'

#### 1.5.2 Write a second function to calculate the profit/loss percentage over the last N days.

$$Profit / Loss Percentage= \frac{Close Price - Prev Close}{Prev Close}*100$$

In [334]:
def last_N_days_prof_loss(dataframe,n):
    difference = (dataframe['Close Price'].tail(n).iloc[n-1] - dataframe['Close Price'].tail(n).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/dataframe['Close Price'].tail(n).iloc[n-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/dataframe['Close Price'].tail(n).iloc[n-1])*100
        return profit_percen

In [335]:
last_N_days_prof_loss(raymond,9)

0.988002822865214

In [336]:
"""
>>>n=int(input("enter N last days"))
...last_N_days_prof_loss(raymond, n)

Out[]: enter N last days9
        0.988002822865214
"""

'\n>>>n=int(input("enter N last days"))\n...last_N_days_prof_loss(raymond, n)\n\nOut[]: enter N last days9\n        0.988002822865214\n'

As we Know the stock market is open for a 5 days in a week
So,Lets Consider 5 days a week

In [337]:
def profit_loss_percentage(dataframe, days=None, weeks=None, months=None, years=None):
    if days:
        print("Profit/Loss Percentage For",days,"day." if days==1 else "days.","\n",'-'*10)
        return last_N_days_prof_loss(dataframe, days)
    elif weeks:
        print("Profit/Loss Percentage For",weeks,"week." if weeks==1 else "weeks.","\n",'-'*10)
        day = weeks * 5
        return last_N_days_prof_loss(dataframe, day)
    elif months:
        print("Profit/Loss Percentage For",months,"month." if months==1 else "months.","\n",'-'*10)
        day = months * 21
        return last_N_days_prof_loss(dataframe, day)  
    elif years:
        print("Profit/Loss Percentage For",years,"year." if years==1 else "years.","\n",'-'*10)
        day = years * 252
        return last_N_days_prof_loss(dataframe, day)

####  Calculate the Profit/Loss Percentages  over the course of last :
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months,
- 1 year.

In [338]:
profit_loss_percentage(raymond, weeks=1)

Profit/Loss Percentage For 1 week.
 ----------

3.7980368255597643

In [339]:
profit_loss_percentage(raymond, weeks=2)

Profit/Loss Percentage For 2 weeks.
 ----------

2.8613588246615853

In [340]:
profit_loss_percentage(raymond, months=1)

Profit/Loss Percentage For 1 month.
 ----------

0.2694553153268779

In [341]:
profit_loss_percentage(raymond, months=3)

Profit/Loss Percentage For 3 months.
 ----------

8.757297748123435

In [342]:
profit_loss_percentage(raymond, months=6)

Profit/Loss Percentage For 6 months.
 ----------

3.6633091678963323

In [343]:
profit_loss_percentage(raymond, years=1)

Profit/Loss Percentage For 1 year.
 ----------

42.29806890357349

In [344]:
def avg_price(dataframe, days=None, weeks=None, months=None, years=None):
    if days:
        print("Average Price For",days,"day." if days==1 else "days.","\n",'-'*10)
        return last_N_days_avg_price(dataframe, days)
    
    elif weeks:
        print("Average Price For",weeks,"week." if weeks==1 else "weeks.","\n",'-'*10)
        day = weeks * 5
        return last_N_days_avg_price(dataframe, day)
    
    elif months:
        print("Average Price For",months,"month." if months==1 else "months.","\n",'-'*10)
        day = months * 21
        return last_N_days_avg_price(dataframe, day)
        
    elif years:
        print("Average Price For",years,"year." if years==1 else "years.","\n",'-'*10)
        day = years * 252
        return last_N_days_avg_price(dataframe, day)

#### Calculate the Average Price over the course of last :
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months,
- 1 year.

In [345]:
print(avg_price(raymond,weeks=1))

Average Price For 1 week.
 ----------
804.1320000000001

In [346]:
print(avg_price(raymond,weeks=2))
print(avg_price(raymond,months=1))
print(avg_price(raymond,months=3))
print(avg_price(raymond,months=6))
print(avg_price(raymond,years=1))

Average Price For 2 weeks.
 ----------
783.2669999999999
Average Price For 1 month.
 ----------
779.7204761904762
Average Price For 3 months.
 ----------
773.1585714285712
Average Price For 6 months.
 ----------
788.3922222222221
Average Price For 1 year.
 ----------
820.0887301587297

In [347]:
raymond.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP
0,RAYMOND,EQ,2017-05-15,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96,2017,5,772.800000
1,RAYMOND,EQ,2017-05-16,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77,2017,5,781.803741
2,RAYMOND,EQ,2017-05-17,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34,2017,5,782.447781
3,RAYMOND,EQ,2017-05-18,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83,2017,5,776.867021
4,RAYMOND,EQ,2017-05-19,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52,2017,5,765.239492

## PROBLEM STATEMENT-1.6
Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

#### pct_change()
pct_change() this function only performs the (current-previous)/previous) <br/>
so actually percentage change between 2 consecutive numbers is ((current-previous)/previous)x100 <br/>
we are doing operation pc_change()*100

In [348]:
raymond["Day_Perc_Change"] = raymond["Close Price"].pct_change().fillna(value=0)*100
raymond.head(5)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change
0,RAYMOND,EQ,2017-05-15,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96,2017,5,772.800000,0.000000
1,RAYMOND,EQ,2017-05-16,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77,2017,5,781.803741,1.578675
2,RAYMOND,EQ,2017-05-17,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34,2017,5,782.447781,-0.171975
3,RAYMOND,EQ,2017-05-18,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83,2017,5,776.867021,-4.683213
4,RAYMOND,EQ,2017-05-19,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52,2017,5,765.239492,-3.192985

## PROBLEM STATEMENT-1.7 
Add another column `Trend` whose values are:

- **'Slight or No change'** for 'Day_Perc_Change' in between -0.5 and 0.5
- **'Slight positive'** for 'Day_Perc_Change' in between 0.5 and 1
- **'Slight negative'** for 'Day_Perc_Change' in between -0.5 and -1
- **'Positive'** for 'Day_Perc_Change' in between 1 and 3
- **'Negative'** for 'Day_Perc_Change' in between -1 and -3
- **'Among top gainers'** for 'Day_Perc_Change' in between 3 and 7
- **'Among top losers'** for 'Day_Perc_Change' in between -3 and -7
- **'Bull run'** for 'Day_Perc_Change' >7
- **'Bear drop'** for 'Day_Perc_Change' <-7

In [350]:
Cat_bins = [-pd.np.inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, pd.np.inf]
Cat_bins

[-inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, inf]

In [351]:
Cat_labels = ['Bear drop','Among top losers','Negative','Slight negative','Slight or No change','Slight positive','Positive','Among top gainers','Bull run']
Cat_labels

['Bear drop',
 'Among top losers',
 'Negative',
 'Slight negative',
 'Slight or No change',
 'Slight positive',
 'Positive',
 'Among top gainers',
 'Bull run']

In [352]:
raymond['Trend'] = pd.cut(raymond.Day_Perc_Change, bins=Category_bins, labels=Category_labels, include_lowest=True)
raymond.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change,Trend
0,RAYMOND,EQ,2017-05-15,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96,2017,5,772.800000,0.000000,Slight or No change
1,RAYMOND,EQ,2017-05-16,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77,2017,5,781.803741,1.578675,Positive
2,RAYMOND,EQ,2017-05-17,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34,2017,5,782.447781,-0.171975,Slight or No change
3,RAYMOND,EQ,2017-05-18,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83,2017,5,776.867021,-4.683213,Among top losers
4,RAYMOND,EQ,2017-05-19,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52,2017,5,765.239492,-3.192985,Among top losers

## PROBLEM STATEMENT-1.8
Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.<br>
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [356]:
raymond.groupby(raymond.Trend).mean()['Total Traded Quantity']

Trend
Bear drop              1.850032e+06
Among top losers       6.611943e+05
Negative               5.345620e+05
Slight negative        6.256729e+05
Slight or No change    5.919423e+05
Slight positive        5.907689e+05
Positive               7.240896e+05
Among top gainers      1.463444e+06
Bull run               2.503438e+06
Name: Total Traded Quantity, dtype: float64

In [357]:
raymond.groupby(raymond.Trend).median()['Total Traded Quantity']

Trend
Bear drop              1054416.0
Among top losers        589261.0
Negative                481212.0
Slight negative         494961.0
Slight or No change     464539.0
Slight positive         533556.0
Positive                680800.0
Among top gainers      1096681.0
Bull run               2609890.0
Name: Total Traded Quantity, dtype: float64

In [355]:
avg_median_trendwise = raymond.groupby(by="Trend")["Total Traded Quantity"].agg(['mean','median']).rename(columns={'mean':'average'})
avg_median_trendwise

                          average   median
Trend
Bear drop            1.850032e+06  1054416
Among top losers     6.611943e+05   589261
Negative             5.345620e+05   481212
Slight negative      6.256729e+05   494961
Slight or No change  5.919423e+05   464539
Slight positive      5.907689e+05   533556
Positive             7.240896e+05   680800
Among top gainers    1.463444e+06  1096681
Bull run             2.503438e+06  2609890

## PROBLEM STATEMENT-1.9
SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [358]:
raymond.to_csv('./week2.csv')

Saving Data-set Without Index

In [360]:
raymond.to_csv(r'week21.csv', index=False)